torch
numpy
Pillow
diffusers
psutil
cloudinary
opencv-python
websockets
pandas
scikit-learn
joblib
imagekitio
rembg
onnxruntime
transformers
accelerate
spacy
huggingface-hub
openvino==2023.0.0  # For additional CPU optimizations