torch==2.2.0
numpy==1.24.4
Pillow==9.5.0
diffusers==0.19.3
psutil==5.9.5
cloudinary==1.34.0
opencv-python-headless==4.8.1.78
websockets==11.0.3
pandas==1.5.3
scikit-learn==1.2.2
joblib==1.3.2
imagekitio==2.3.4
rembg==2.0.50
onnxruntime==1.15.1
transformers==4.33.2
accelerate==0.23.0
spacy==3.5.0